<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>add book</title>
</head>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
<body>
    <h1>add book</h1>
    <form name="form" action="" th:action="@{/book/create}" th:method="post">
        <div>
            <label for="id">book id</label>
            <input type="id" name="id" id="id"/>
        </div>
        <div>
            <label for="name">book name</label>
            <input type="name" name="name" id="name"/>
        </div>
        <div>
            <label for="num">book num</label>
            <input type="num" name="num" id="num"/>
        </div>
        <button type="submit">add</button>
    </form>
</body>
</html>