<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<nav role="navigation">
    <a href="/book/all">view books</a>
</nav>
users:
<ul th:each="user : ${users}">
    <li th:each="entry : ${user}" th:text="${user.email}" ></li>
    <li th:each="entry : ${user}" th:text="${user.role}"></li>
</ul>
</body>
</html>