<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/signin.css">

<head>
    <meta charset="utf-8">
    <title>upms</title>
</head>
<body>
    <form name="form" action="" th:action="@{/user/create}" th:method="post" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Create a new user</h1>
        <div>
            <label for="email">Email address</label>
            <input type="email" name="email" id="email" class="form-control"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password"/>
        </div>
        <div>
            <label for="passwordRepeated">Repeat</label>
            <input type="password" name="passwordRepeated" class="form-control" id="passwordRepeated"/>
        </div>
        <div>
            <label for="role">Role</label>
            <select name="role" id="role" required>
                <option>USER</option>
                <option>ADMIN</option>
            </select>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
    </form>
</body>
</html>